body {
    background-color: #CFFFFF;
    color: black;
    font-size: 35pt;
}

p {
    background-color: yellow;
    color: red;
    font-size: 20pt;
}
/*Bartosz Zabrocki, klasa 2F grupa2 data spr 25.04.2024*/
