body
{
background-color: aqua;
color: olive;
font-size: 32px;
text-align: center;
}

p
{
background-color: white;
color: red;
font-size: 30px;
text-align: center;
}

 /*Bartosz Zabrocki, klasa 2F grupa2 data spr 25.04.2024*/
